<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Student Crud</title>
</head>

<body style="margin:100px">
    <h1> Add Student</h1>
    <form th:action="@{/add-student}" method="post" th:object="${studentDTO}">

        <label>Name:</label>
        <input type="text" name="std_name" th:field="*{name}" placeholder="Enter your name"><br><br>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> </p>
        <label>Age:</label>
        <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"> </p>
        <input type="number" name="std_age" th:field="*{age}" placeholder="Enter your age"><br><br>
        <label>Email:</label>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> </p>
        <input type="email" name="std_email" th:field="*{email}" placeholder="Enter your Email"><br><br>
        
        <label>Password:</label>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> </p>
        <input type="password" name="std_password" th:field="*{password}" placeholder="Enter your password"><br><br>
        <Button type="submit"> Add Student</Button>
    </form>

</body>

</html>